[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docker-compose = "==1.29.2"
openapi2jsonschema = "==0.9.1"
yq = "==3.0.2"

[requires]
python_version = "3"
